/*--------------MAX-WIDTH 1024---------------*/
@media screen and (max-width: 1024px;) {
    .contener {
        width: 90%;
    }
}

/*----------------MAX-WIDTH 768----------------*/
@media screen and (max-width: 768px;) {
    .contener {
        width: 95%;
    }
}


/*-----------------MAX-WIDTH 480-------------------*/
@media screen and (max-width: 480px) {
    .contener {
        width: 100%;
    }
}
