

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

.contener {
    width: 80%;
    max-width: 1100px;
    margin:0 auto;
}
/*POPRAWNE WYŚWIETLANIE ELEMENTÓW PŁYWAJĄCYCH*/
.floatfix::after {
    content:'';
    display: block;
    clear: both;
}

h1 {
    float:left;
    width: 35%;
    min-width: 200px;
}

header h1 a {
    display: block;
    width: 200px;
    height: 60px;
    margin: 5px 0;
    text-indent: -999em;
    background: url('../images/logo.png') top left no-repeat;
}

header nav {
    float: right;
    width: 65%;
}

header nav ul,
header nav ul.visible {
    display: table;
    width: 100%;
}

header nav ul li {
    display: table-cell;
}

header nav ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
    color: #7cb029;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #7cb029;
    color: #fff;
    /*PRZYKŁAD TRANSFORM
    transform:perspective(300px) rotateX(45deg);*/
    transition: 0.4s;

}
/*------------MENU SWITCH---------*/
.switch {
    display: none;
    background-color: #7cb029;
    color: #fff;
    padding: 10px 15px;
    float: right;
    font-size: 1.4em;
    text-decoration: none;

}

/*OBRAZ - SLOGAN*/
.slogan-bg {
    height: 442px;
    width: 100%;
    background: url('../images/slogan-bg.jpg') top center no-repeat;
    background-size: cover;
    overflow: hidden;
    border-top: 4px solid #7cb029;
    border-bottom: 4px solid #7cb029;
}
/*SLOGAN - NAPIS*/
.slogan {
    text-align: center;
    padding-top: 180px;
    font-family: "Impact", sans-serif;
    font-size: 3.5em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.slogan h1 {
    float: none;
    color: #393b38;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.8);
    display: inline;
}

.slogan h2 {
    float:none;
    color: #fff;
    padding: 5px 15px;
    background: rgba(124, 176, 41, 0.8);
    display: inline;
}


/*--------- MAX-WIDTH 1024 --------- */
@media screen and (max-width: 1024px) {
    .contener {
        width:90%;
    }
    .slogan-bg {
        height: 400px;
    }
    .slogan {
        padding-top: 150px;
    }
}
/*--------- MAX-WIDTH 768 --------- */
@media screen and (max-width: 768px) {
    .contener {
        width:95%;
    }

    header nav {
        width: 100%;
    }
    .switch {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    header nav ul {
        display:none;
    }
    .slogan-bg {
        height: 300px;
    }
    .slogan {
        padding-top: 100px;
        font-size: 3em;
    }
    .slogan h1, .slogan h2 {
        padding: 5px 0px;
    }
}
/*--------- MAX-WIDTH 480 --------- */
@media screen and (max-width: 480px) {
    .contener {
        width:100%;
    }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul li a {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #7cb029;
    }
    header nav ul.visible {
        display: block;
    }
    .slogan-bg {
        height: 200px;
    }
    .slogan {
        padding-top: 60px;
        font-size: 2em;
        line-height: 1.7em;
    }

}
